* {
  font-size: 16px;
}

@property --box-color {
  syntax: "<color>";
  initial-value: blue;
  inherits: false;
}

a {
  --box-color: invalid-color;
  color: var(--box-color); /* Color for links */
}

a[href="https://www.espn.com/mens-college-basketball/team/_/id/28/uc-san-diego-tritons"]
{
  color: hsl(10 80% 50% / 25%); /* Color for link to logo photo */
}

h1,
h2,
h3 {
  color: #555; /* Header colors */
}

h1 {
  font-family: "Roboto", sans-serif; /* Font for Header 1 */
  font-size: 25px;
}

h2 {
  text-align: center; /* Text alignment for header 2 */
  font-size: 20px;
}

nav ul li {
  display: inline-block; /* inline-block */
  & > a {
    color: blue;
    &:hover,
    &:focus {
      color: lightblue;
    }
  }
}

.body-container {
  padding: 20px 20px 20px 20px; /* absolute sizing - padding around borders */
  border: 1px solid #ccc; /* border-style, border-color, border-width */
  border-radius: 5px; /* border-radius */
  width: 80%; /* width */
  height: 80%;
  max-width: 1400px; /* max-width */
  min-width: 300px; /* min-width */
  justify-content: space-between;
  margin: 25px 25px 20px 20px; /* Class Selector */
  display: flex; /* flex */
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.resources-container {
  display: block; /* block */
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 25px;
  padding-right: 25px;
  border-width: 1px;
  border-color: #ccc;
  border-radius: 5px;
  border-style: solid;
  width: 80%; /* width */
  height: 80%;
  max-width: 1200px; /* max-width */
  min-width: 300px; /* min-width */
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  gap: 20px;
}

.one,
.two {
  border: 1px solid #ccc;
  padding: 20px;
}

@media (min-width: 800px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}

footer {
  position: fixed; /* fixed */
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: color(display-p3 0 0 0.331);
  color: #fff;
  text-align: center;
}

#agenda,
#attendance {
  background-color: #f9f9f9;
}

.ems li {
  font-size: 0.9em;
}

nav > ul {
  margin-top: 10px; /* Child Combinator */
}

nav ~ div {
  margin-top: 20px; /* General sibling combinator */
}

nav + footer {
  margin-top: 20px; /* Adjacent sibling combinator */
}

button:hover {
  color: black;
  background-color: darkgray;
}

button:active {
  box-shadow: 2px 2px 5px color-mix(in srgb, blue, white);
}

section.content {
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 2px 2px 5px lightgray;
}

h2:has(+ p) {
  margin-bottom: 20px;
}
